body{
    margin-left: 30%;
    margin-right: 30%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input{
    margin: 5px;
}

div{
    justify-content: center;
}

table,tr,th,td{
    border: 1px solid black;
}

table{
    margin-top: 10px;;
    margin-left: 22%;
    border-collapse: collapse;
    background-color: beige;
}

th,td{
    padding: 10px;
}

th{
    background-color: darkgray;
}


#errores{
    margin-left: 20%;
    text-align: left;
    color: red;
    align-self: center;
}

#plazoFijo{
    background-color: greenyellow;
    align-self: center;
}

#plazoFijoTable{
    align-self: center;
}